In [7]:
## Entramiento local pre submmit a Kaggle

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
import pandas as pd

In [8]:
# Leer los datos
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
from sklearn.ensemble import RandomForestClassifier
# Features a usar
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

# Aseguramos limpieza 
X_train = train.copy()
X_test = test.copy()

# Convertir Sex a numérico
X_train['Sex'] = X_train['Sex'].map({'male': 0, 'female': 1})
X_test['Sex'] = X_test['Sex'].map({'male': 0, 'female': 1})

# Completar valores faltantes
X_train['Age'] = X_train['Age'].fillna(X_train['Age'].median())
X_test['Age'] = X_test['Age'].fillna(X_test['Age'].median())

X_train['Fare'] = X_train['Fare'].fillna(X_train['Fare'].median())
X_test['Fare'] = X_test['Fare'].fillna(X_test['Fare'].median())

In [10]:
## Separar un conjunto de validación
X = X_train[features]
y = X_train['Survived']

X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(
    X, y, test_size=0.2, random_state=42  # 80% train, 20% validación
)

In [11]:
## Entrenar modelo sobre subset
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_split, y_train_split)

NameError: name 'RandomForestClassifier' is not defined